@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";

// Global variables
@img-root: "../img";



// General styles
body { 
    font: 16px/1.5em Helvetica, Arial, sans-serif; 
    color: #111; 
    -webkit-font-smoothing: antialiased;
}

* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; *behavior:url(boxsizing.htc); }

h1 { 
    font: normal 32px/1.125 Gotham, Georgia, serif; 
    margin: 0 0 22px 0;
}

h2 { 
    font-weight: normal; 
    line-height: 1.2; 
    color: #333; 
    margin-bottom: 22px; 
    font-size: 22px;
}

h3, h4, h5, h6 { 
    font-weight: normal; 
    line-height: 1.2; 
    color: #999; 
    margin-bottom: 22px;
}

p {
    margin-bottom: 1.3em;
}

a, 
a:link, 
a:visited { 
    color: #4774cc; 
    text-decoration: none;
}

a:hover, a:active { 
    color: #bccae5; 
    text-decoration: none; 
}

.btn.btn-blue, 
a.btn.btn-blue {
	background: none;
	background-color: #7598c9;
	border: none;
	border-radius: 0;
	line-height: 44px;
	height: 44px;
	color: #fff;
	padding: 0 20px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;

	&:hover { opacity: 0.7; }
	&:hover, &:active { 
		color: #fff;
		background-color: #7598c9;
		background-position: auto;
		.transition(none)
	}
}

/*background-video*/

#video-bg {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
  }
  #video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    #video-bg > video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-bg > video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    #video-bg > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }


/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/

.vjs-control-bar {display: none;}
#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{
    position:absolute;
    video {}
}
#big-video-control-container{position:fixed;bottom:0;padding:10px;width:100%;background:rgba(0,0,0,.25);
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}






// Media queries
@media (max-width: 979px) {
	nav ul.site-links-2 { display: none; }
	footer {
		.primary { float: none; }
		.secondary ul, .secondary p { margin-left: 0; float: left; }
	}
}
@media (max-width: 767px) {
	header { margin-left: -20px; margin-right: -20px; }
	nav ul.site-links { margin-left: 20px; }
	footer { 
		.primary { display: none; }
		.secondary p { float: left; font-size: 10px; color: #bccae5; }
		.secondary ul { float: right; }
		.secondary li { font-size: 10px; text-transform: none; }
		.secondary a { color: #bccae5; }
	}
}
@media (max-width: 480px) {
	h1 { font-size: 26px; }
	#story-meta p { font-size: 11px; }
	nav ul.site-links {
		li { display: none; }
		.npr { display: block; }
	}
	header {
		padding: 33px 20px;
		h1 { font-size: 36px; }
	}
	footer { border-top: 1px solid #CCC; margin-top: 24px; }
}
