{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>12</h1>
                <h1>{{ COPY.content.project_name }}</h1>
                
                <a href="about">about</a>
            </div>
        </div>
    </div>
-->

<div class="primary-nav" data-toggle="modal" data-target="#site-index"><i class="fa fa-bars"></i></div>
<div class="audio-controls">
    <i class="fa fa-volume-up"></i>
    <i class="fa fa-volume-off"></i>
</div>

<div class="direction-nav">
    <div class="north"><i class="fa fa-chevron-up"></i></div>
    <div class="east"><i class="fa fa-chevron-right"></i></div>
    <div class="south"><i class="fa fa-chevron-down"></i></div>
    <div class="west">
        <a href="soundscape2.html">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>
</div>

<div class="full-block titlecard">
    <div class="full-block-cell">
        <div class="full-block-content">
            <h1>Bayaka</h1>
            <p>A shimmering evening fantasia of insect song and the singing of Bayaka men sitting in a circle illuminated only by firelight and stars.</p>
    
            <!--<button class="btn btn-go"></button>-->
        </div>
    </div>
    
</div>


<div id="video-bg">

  <video id="bg-vid" autoplay loop>
    <source type="video/mp4" src="assets/fire.mp4">
    <source type="video/webm" src="assets/fire.webm">
  </video>

</div>


<div class="annotation" data-toggle="modal" data-target="#annotation-modal">
    <p>
        Dzanga-Sangha Special Reserve 3&deg;6'N 16&deg;20'E
        <b>more info <i class="fa fa-question-circle"></i></b>
    </p>
</div>

<!-- annotation modal -->
<div class="modal fade" data-backdrop="static" id="annotation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4>Dzanga-Sangha Special Reserve</h4>
        
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
      </div>
      <div class="modal-body">
        <p><b>why this recording matters</b></p>
        <p>lorem ipsum dolar</p>
        <p><b>hear the stories of this soundscape</b></p>
        <p>Recording 3</p>
        <p>Recording 4</p>
        <p>Recording 5</p>
        <p>etc...</p>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- site index modal -->
<div class="modal fade" data-backdrop="static" id="site-index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4>Radio Expeditions</h4>
        
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
      </div>
      <div class="modal-body">
        <p>Recording 1</p>
        <p>Recording 2</p>
        <p>Recording 3</p>
        <p>Recording 4</p>
        <p>Recording 5</p>
        <p>etc...</p>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block wide_content %}
{% endblock %}

