{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>12</h1>
                <h1>{{ COPY.content.project_name }}</h1>
                
                <a href="about">about</a>
            </div>
        </div>
    </div>
-->

<div class="primary-nav"><i class="fa fa-bars"></i></div>
<div class="audio-controls">
    <i class="fa fa-volume-up"></i>
    <i class="fa fa-volume-off"></i>
</div>

<div class="direction-nav">
    <div class="north"><i class="fa fa-chevron-up"></i></div>
    <div class="east"><i class="fa fa-chevron-right"></i></div>
    <div class="south"><i class="fa fa-chevron-down"></i></div>
    <div class="west">
        <a href="soundscape2.html">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>
</div>

<div class="full-block">
    <div class="full-block-cell">
        <div class="full-block-content">
            <h1>Bayaka</h1>
            <p>A shimmering evening fantasia of insect song and the singing of Bayaka men sitting in a circle illuminated only by firelight and stars.</p>
    
            <!--<button class="btn btn-go"></button>-->
        </div>
    </div>
    
</div>


<div id="video-bg">
  <video id="bg-vid" autoplay loop>
    <source type="video/mp4" src="assets/fire.mp4">
    <source type="video/webm" src="assets/fire.webm">
  </video>
</div>

<div class="annotation">
    <p>
        Bayaka 0&deg;00'N 25&deg;00'E
        <b>more info <i class="fa fa-question-circle"></i></b>
    </p>
</div>

{% endblock %}


{% block wide_content %}
{% endblock %}

