{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>12</h1>
                <h1>{{ COPY.content.project_name }}</h1>
                
                <a href="about">about</a>
            </div>
        </div>
    </div>
-->



<div id="video-bg">
  <video loop>
    <source type="video/mp4" src="assets/fire.mp4">
    <source type="video/webm" src="assets/fire.webm">
  </video>
</div>

{% endblock %}


{% block wide_content %}
{% endblock %}

